<div class="task-list-container">
  <h2>Lista de Tareas</h2>

  <div>
    <label for="statusFilter">Filtrar por estado:</label>
    <select id="statusFilter" (change)="filterTasks($event)">
      <option value="all">Todas</option>
      <option value="pending">Pendientes</option>
      <option value="completed">Completadas</option>
    </select>
  </div>

  <ul>
    <li *ngFor="let task of filteredTasks">
      <h3 matTooltip="{{ task.description }}">{{ task.name }}</h3>
      <p>Fecha límite: {{ task.dueDate | date }}</p>
      <p>Estado: {{ task.status }}</p>
      <button (click)="toggleTaskStatus(task)">
        {{ task.status === 'pending' ? 'Marcar como completada' : 'Marcar como pendiente' }}
      </button>
      <p>Personas asignadas:</p>
      <ul>
        <li *ngFor="let person of task.assignedPeople">
          <app-person-details [person]="person"></app-person-details>
        </li>
      </ul>
    </li>
  </ul>
</div>
